*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topnav{
    padding: 10px;
}
.logo{
    width: 80px;
}
.link1{
    padding: 10px;
    margin: 10;
    text-decoration: none;
    color: rgb(72, 64, 64);
}
.link1:hover{
    background-color: rgb(122, 239, 190);
    color: rgb(255, 255, 255);
}
.nav{
    background-color: rgb(80, 180, 220);
    padding: 10px;
}
.nav a{
    padding: 10px;
    text-decoration: none;
    margin: 15px;
    color: rgb(255, 255, 255);
}
.nav a:hover{
    background-color: #656464;
}
.row{
    background-color: #4f5579;
    background-image: url(../Images/Astronaunt.png);
    background-position: right center;
    background-repeat: no-repeat;
}
.row h1{
    padding-top: 100px;
    text-align: center;
    color: #07c11d;
    font-size: 70px;
}
.row h2{
    text-align: center;
    color: #d8f360;
    padding: 20px;
    padding-bottom: 20px;
}
.row h3{
    text-align: center;
    color: #2f2d2d;
    padding: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
}

.searchbox{
    margin-left: 645px;
    width: 10%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #CCC;
}
.footer{
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.fa-brands:hover{
    color: rgb(0, 255, 255) !important;
    padding: 10px;
    background-color: rgb(65, 134, 134);
    border-radius: 50%;
    box-shadow: 2px 2px 2px;
    transition: 0.5s;
}
.foot p{
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}
.social-foot a{
    text-align: center;
    text-decoration: none;
}
.social-foot a:hover{
    color: #7c6767;
}
/* HTML page */
.mid-col{
    float: left;
}
.right-col{
    float: left;
}
.left-col{
    float: left;
}
.mrnu-header{
    color: #282a35;
}
.menu li{
    margin: 20px;
}
.menu li a{
    text-decoration: none;
    color: #000000;
    padding: 10px;
}
.menu li a:hover{
    color: rgb(7, 7, 118);
}
.active{
    color: aqua;
    background-color: #84f130;
}
.mid-head{
    margin: 10px !important;
    font-size: 25px;
}
